<div class="admin-simple">
  <div class="admin-content">
    <h1>ADMINISTRAÇÃO</h1>

    <div class="simple-cards">
      <div class="simple-card" routerLink="/tela-usuarios">
        <h2>USUÁRIOS</h2>
        <span class="simple-arrow">→</span>
      </div>

      <div class="simple-card" routerLink="/tela-crud">
        <h2>ESTOQUE</h2>
        <span class="simple-arrow">→</span>
      </div>
    </div>

    <button class="simple-back" routerLink="/tela-principal">VOLTAR</button>
  </div>
</div>