<div class="register-container">
    <div class="register-box">
        <h1>Cadastro</h1>

        <div class="register-form">
            <input type="text" placeholder="Nome completo" />
            <input type="text" placeholder="CPF" />
            <input type="email" placeholder="E-mail" />
            <input type="password" placeholder="Senha" />
            <input type="password" placeholder="Confirme sua senha" />

            <div class="register-buttons">
                <button class="register-btn" routerLink="/tela-principal">CADASTRAR</button>
                <button class="back-btn" routerLink="/tela-login">VOLTAR</button>
            </div>
        </div>
    </div>
</div>